{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Advogados | Listar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Advogado
            <small>Listagem</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                <p><input type="text" class="form-control" placeholder="Pesquisa" /></p>
                    <!-- /.box-header -->
                    <!-- form start -->
{% for adv in advs %}

<div class="col-lg-8">
	<div class="card">

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
					<img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">


				</div>
				<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
					<div class="container">
						<h2>{{ adv.nome_adv }}</h2>
                        <p>
                        {% for oab in adv.oabs %}
                            {{oab.numero_oab}} <br>
                        {% endfor %}
                        </p>


					</div>
					<hr>
					<ul class="container details">
						{% for area in adv.areas %}
                        <li>
							<p>

								<span class="glyphicon glyphicon-user one" style="width:20px;"></span>{{area.nome_area}}</p>
						</li>
                        {% endfor %}
					</ul>
					<hr>
					<div class="col-sm-5 col-xs-6 tital ">Formação: {{adv.formacao}}</div>
                    <br>
                    <hr>    

                    <form role="form" action="/solicitacao/formcadastrar/" method="post">
                    <input type='hidden' name='id_adv' id='id_adv' value='{{ adv.id_adv }}'>
                    <input type='hidden' name='nome_adv' id='nome_adv' value='{{ adv.nome_adv }}'>

                    <br>

                    <button type="submit" class="btn btn-block btn-success">Solicitar</button>
                    </form>
                    <br>

                    <form role="form" action="/advogado/formavaliar/{{adv.id_adv}}" method="post">
                    <input type='hidden' name='nome_adv' id='nome_adv' value='{{ adv.nome_adv }}'>
                    <button type="submit"  class="btn btn-block btn-info">Avaliar</button>

                    </form>
				</div>
			</div>
		</div>
	</div>




                            <!-- /.box-body -->

</div>
{% endfor %}

                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/dist/js/isotope.pkgd.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
    // quick search regex
var qsRegex;

// init Isotope
var $card = $('.card').isotope({
  itemSelector: '.panel-body',
  layoutMode: 'fitRows',
  filter: function() {
    return qsRegex ? $(this).text().match( qsRegex ) : true;
  }
});

// use value of search field to filter
var $formcontrol = $('.form-control').keyup( debounce( function() {
  qsRegex = new RegExp( $formcontrol.val(), 'gi' );
  $card.isotope();
}, 200 ) );

// debounce so filtering doesn't happen every millisecond
function debounce( fn, threshold ) {
  var timeout;
  threshold = threshold || 100;
  return function debounced() {
    clearTimeout( timeout );
    var args = arguments;
    var _this = this;
    function delayed() {
      fn.apply( _this, args );
    }
    timeout = setTimeout( delayed, threshold );
  };
}
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
