{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Lista | Solicitações{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Solicitações
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/advogado/"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                        <div class="box-body">
                        <!-- Colocar dados do Adv-->


{% for solicitacao in solicitacoes %}

<div class="col-lg-4">
	<div class="card">
<form role="form" action="/solicitacao/salvarcadastrar" method="post" class="jsonForm">

<h4><b>Cliente:</b> {{ solicitacao.nome_cli }}</h4>


<p> Descrição: {{ solicitacao.descricao}}</p>
<p>Status: {{solicitacao.status_solicitacoes}}</p>


<input type='hidden' name='id_solicitacoes' id='id_solicitacoes' value='{{ solicitacao.id_solicitacoes }}'>

<input type='hidden' name='id_cli' id='id_cli' value='{{ solicitacao.id_cli }}'>

<input type="hidden" class="form-control" id="aprovado" name="aprovado" value="">



{% if solicitacao.status_solicitacoes == 'Pendente' %}


<div class="box-footer">
<div class="row">
	<button type="button" id="aceitar" class="btn btn-block btn-success btn-flat">Aceitar</button>
	<button type="button" id="recusar" class="btn btn-block btn-danger btn-flat">Recusar</button>
    </div>
</div>
{% elseif solicitacao.status_solicitacoes == 'Recusado'%}


<div class="callout callout-warning">
	<h4>Você já recusou essa solicitação!</h4>
</div>
{% elseif solicitacao.status_solicitacoes == 'Aceito'%}

<div class="callout callout-success">
<h4>Você já aceitou essa solicitação!</h4>


</div>  
{% endif %}

	</div>
</div>

{% endfor %}
                            <!-- /.box-body -->

                        <div class="box-footer">
                            
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $("#aceitar").on("click", function(){
   $("#aprovado").val("Aceito");
$('.jsonForm').submit();  });
            $("#recusar").on("click", function(){
   $("#aprovado").val("Recusado");
$('.jsonForm').submit();  });
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
