{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Cliente | Editar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Editar Clientes
            <small>Editar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/cliente">Clientes</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/cliente/salvareditar" method="post" class="jsonForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="id_cli">Código</label>
                                <input type="number" class="form-control" id="id_cli" name="id_cli" readonly value="{{ linha['id_cli'] }}" >
                            </div>
                            <div class="form-group">
                                <label for="nome_cli">Nome</label>
                                <input type="text" class="form-control" id="nome_cli" name="nome_cli" placeholder="Nome do Cliente" required value="{{ linha['nome_cli'] }}">
                            </div>
                            <div class="form-group">
                            <label for="sobrenome_cli">Sobrenome</label>
                            <input type="text" class="form-control" id="sobrenome_cli" name="sobrenome_cli" placeholder="Sobrenomeome do Cliente" required value="{{ linha['sobrenome_cli'] }}">
                        </div>


                        <div class="form-group">
                            <label for="email_cli">Email</label>
                            <input type="email" class="form-control" id="email_cli" name="email_cli" placeholder="Email do Cliente" required value="{{ linha['email_cli'] }}">
                        </div>

                        <div class="form-group">
                            <label for="Cidades_idCidades">Cidade</label>
                            <select class="form-control selectpicker" id="cidade_adv" name="cidade_adv" required>
                                <option value="">-Selecione uma cidade-</option>
                                {% for cidade in cidades %}
                                    {% set selected = '' %}
                                    {% if cidade.id_cidade == linha['cidade_adv'] %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                    <option value="{{ cidade.id_cidade }}" {{ selected }}>{{ cidade.Nome }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="telefone_cli">Telefone</label>
                            <input type="number" class="form-control" id="telefone_cli" name="telefone_cli" placeholder="Telefone" required value="{{ linha['telefone_cli'] }}">
                        </div>


                        <div class="form-group">
                            <label for="nome_usuario_cli">Nome de Usuario</label>
                            <input type="text" class="form-control" id="nome_usuario_cli" name="nome_usuario_cli" placeholder="Nome de Usuario" required value="{{ linha['nome_usuario_cli'] }}">
                        </div>


                        <div class="form-group">
                            <label for="senha_cli">Senha</label>
                            <input type="password" class="form-control" id="senha_cli" name="senha_cli" placeholder="senha" required value="{{ linha['senha_cli'] }}">
                        </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/cliente";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
